<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<form id="upload-form" action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
    <strong>Files:</strong><br>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
    <input type="submit" value="send">
</form>
</body>
<script>
    $("#file-picker").change(function(){
        var input = document.getElementById('file-picker');
        for (var i=0; i<input.files.length; i++){
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if (!((ext == 'jpg') || (ext == 'png')|| (ext == 'jpeg'))){
                window.alert("File Format not supported!!");
                document.getElementById("file-picker").value ="";
            }
        }
    });
</script>
</html>